<div ng-controller="TransportController" ng-init="getMySuggestions()">
  <div class="container">
    <div id="suggestionData">
      <div class="row">
        <div class="text-center">
          <h3 class="lead">Suggestions</h3>
        </div>
      </div>
      <div class="row">
        <div class="panel-group">
          <div class="panel panel-default" ng-repeat="suggestion in suggestionData">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="text-center"data-toggle="modal" data-target="#message" href="" ng-click="action(suggestion)">{{suggestion.createdAt | date : 'dd MMM'}} '{{suggestion.createdAt | date : 'yy'}}</a>
                <a class="pull-right" ng-if="suggestion.approved">Approved</a>
              </h4>
            </div>
            <div class="modal fade" id="message" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <h5 text-center>{{noteData}}</h3>
                  </div>
                  <div class="model-footer">
                    <h4 class="lead text-center">Bus Route : {{suggestion.bus_route}}</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-footer">Route : {{suggestion.bus_route}} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
