<html>

<head>
  <title>Home</title>
</head>

<body>

  <div class="container">
    <h1>Hi there <%= name %> </h1>
    <h2>This is a test message</h2>
    <h3>Have a nice day :)</h3>
  </div>

</body>

</html>
